@media (min-width: 768px) {
  .container_hero {
    width: 1440px;
    height: 720px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 235, 252);
    margin: auto;
    margin-bottom: 140px;
  }

  .text_block {
    margin-left: 120px;
    margin-top: 139px;
  }

  .title {
    font-family: 'Museo Sans Cyrl';
    font-size: 64px;
    margin-bottom: 32px;
    margin-top: 0;
  }

  .text {
    width: 483px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(79, 79, 79, 1);
    margin-bottom: 48px;
  }

  .button {
    font-family: 'Museo Sans Cyrl';
    font-size: 16px;
    background-color: rgba(98, 72, 255, 1);
    width: 257px;
    height: 54px;
    border-radius: 60px;
    color: #fff;
    border: 1px solid rgba(98, 72, 255, 1);
    text-transform: uppercase;
    margin-bottom: 183px;
    cursor: pointer;
  }

  .image {
    margin: 100px 120px 100px 0;
  }
}
