@import url('../../utils/colors.css');

.container_hero {
  width: 1440px;
  height: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(232, 235, 252);
  margin: auto;
  margin-bottom: 140px;
}

.text_block {
  margin-left: 120px;
  margin-top: 139px;
}

.title {
  font-family: 'Museo Sans Cyrl';
  font-weight: 500;
  font-size: 64px;
  margin-bottom: 32px;
  margin-top: 0;
  color: var(--gray1);
}

.text {
  width: 483px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--gray2);
  margin-bottom: 48px;
}

.button {
  font-family: 'Museo Sans Cyrl';
  font-size: 16px;
  background-color: var(--violet);
  width: 257px;
  height: 54px;
  border-radius: 60px;
  color: #fff;
  border: 1px solid var(--violet);
  text-transform: uppercase;
  margin-bottom: 183px;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(113, 129, 252, 1);
  transform: rotate(1turn) scale(1.05);
  transition: transform 0.3s ease; 
}


.button:focus,
.button:active {
  background-color: rgba(53, 75, 244, 1);
}

.image {
  margin: 100px 120px 100px 0;
}
.mobImage {
  display: none;
}

@media screen and (max-width: 768px) {
  .container_hero {
    width: 768px;
    height: 944px;
    display: block;
    margin-bottom: 120px;
  }
  .text_block {
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
  }
  .title {
    margin-top: 40px;
    text-align: center;
  }
  .text {
    text-align: center;
    margin-top: 0;
  }
  .button {
    margin-bottom: 32px;
  }
  .image {
    height: 450px;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  .container_hero {
    width: 320px;
    height: 833px;
    margin-bottom: 80px;
  }
  .text_block {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  .title {
    font-size: 40px;
    text-align: start;
    margin-top: 32px;
    margin-bottom: 24px;
  }
  .text {
    text-align: start;
    margin-bottom: 32px;
  }
  .image {
    display: none;
  }
  .mobImage {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
}
