@media (min-width: 768px) {
  .container_header {
    width: 1440px;
    height: 80px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 15px;
    font-weight: 700;
    margin-left: 120px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 57px;
  }

  .nav_item {
    font-family: 'Museo Sans Cyrl';
    font-size: 15px;
    font-weight: 500;
    margin-right: 32px;
  }

  .list {
    list-style: none;
    display: flex;
    padding: 0;
  }

  .buttons {
    display: flex;
  }

  .button_lang {
    font-family: 'Museo Sans Cyrl';
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border: 1px solid black;
    width: 80px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
  }
  .button_lang img {
    margin-left: 8px;
  }

  .button_sign {
    display: flex;
    align-items: center;
    font-family: 'Museo Sans Cyrl';
    width: 168px;
    height: 40px;
    margin-right: 60px;
    margin-left: 24px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 13px 24px;
    border-radius: 60px;
    background-color: #6248ff;
    color: #fff;
    border: 1px solid rgba(98, 72, 255, 1);
    cursor: pointer;
  }
}
