.container_header {
  width: 1440px;
  height: 80px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 15px;
  font-weight: 700;
  margin-left: 120px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 57px;
  color: rgba(51, 51, 51, 1);
}

.nav_item {
  font-family: 'Museo Sans Cyrl';
  font-size: 15px;
  font-weight: 500;
  margin-right: 32px;
  color: rgba(51, 51, 51, 1);
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
}
.list {
  list-style: none;
  display: flex;
  padding: 0;
}

.buttons {
  display: flex;
}

.button_lang {
  font-family: 'Museo Sans Cyrl';
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: 1px solid black;
  width: 80px;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
}
.button_lang img {
  margin-left: 8px;
}
.button_lang:hover {
  background-color: rgba(98, 72, 255, 1);
  color: #fff;
}

.button_sign {
  display: flex;
  align-items: center;
  font-family: 'Museo Sans Cyrl';
  width: 168px;
  height: 40px;
  margin-right: 60px;
  margin-left: 24px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 13px 24px;
  border-radius: 60px;
  background-color: rgba(79, 98, 246, 1);
  color: #fff;
  border: 1px solid rgba(79, 98, 246, 1);
  cursor: pointer;
}
.button_sign:hover {
  background-color: rgba(113, 129, 252, 1);
}
.button_sign:focus,
.button_sign:active {
  background-color: rgba(53, 75, 244, 1);
}
.burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .container_header {
    width: 768px;
    justify-content: end;
  }
  .navigation {
    display: none;
  }
  .button_lang {
    display: none;
  }
  .button_sign {
    margin-right: 40px;
  }
  .burger {
    display: block;
    border: 0 solid transparent;
    background-color: #fff;
    margin-right: 40px;
    cursor: pointer;
  }
}
